@keyframes shake {
  0% {
    transform: translateX(0) rotate(0);
  }
  20% {
    transform: translateX(-10px) rotate(-20deg);
  }
  30% {
    transform: translateX(10px) rotate(20deg);
  }
  50% {
    transform: translateX(-5px) rotate(-10deg);
  }
  60% {
    transform: translateX(5px) rotate(10deg);
  }
  100% {
    transform: translateX(0) rotate(0);
  }
}

@keyframes catch {
  0% {
    filter: saturate(1.5) brightness(1.5);
  }
  100% {
    filter: saturate(0.8) brightness(0.8);
  }
}
